
<p id="notice"><%= notice %></p>

<h1>Awesome Movies</h1>

<% @movies.each do |movie| %>
    <div>
      <div><%= movie.title %></div>
      <div>Year: <%= movie.year %></div>
    #   <div><%= link_to 'Remove From Favorites', movie, method: :delete, data: { confirm: 'Are you sure?' } %></div>


    </div>

    <br />
<% end %>